*,
*::before,
*::after{
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 19%, #9FACE6 100%);

}
.icon{
  margin-top:2vh;
  font-size:2em;
  margin-right:12px;
}

.card{
background: rgba(255, 0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.6px);
-webkit-backdrop-filter: blur(12.6px);
color:white;
}

.card-color{
color:white;
}

.low{
  position: absolute;
  right: 520px;
  width: 300px;
  height: 500;
  padding: 10px;
}

.github{
color:white;
}

   
