*,
*::before,
*::after{
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: rgb(255,255,255);
background: linear-gradient(108deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 0%, rgba(170,48,255,1) 75%);
}

.icon{
  margin-top:2vh;
  font-size:2em;
  margin-right:12px;
}

.card{
background: rgba(255, 0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.6px);
-webkit-backdrop-filter: blur(12.6px);
color:white;
}

.card-color{
color:white;
}

.low{
  position: absolute;
  right: 520px;
  width: 300px;
  padding: 10px;
}
