*,
*::before,
*::after{
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: rgb(66,66,66);
  background: linear-gradient(260deg, rgba(66,66,66,1) 0%, rgba(158,158,158,1) 69%, rgba(245,245,245,1) 100%);
}
.icon{
  margin-top:2vh;
  font-size:2em;
  margin-right:12px;
}

.card{
background: rgba(255, 0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.6px);
-webkit-backdrop-filter: blur(12.6px);
color:white;
}

.card-color{
color:white;
}

.low{
  position: absolute;
  right: 520px;
  width: 300px;
  height: 500;
  padding: 10px;
}

.github{
color:white;
}

   
